.equip {
  max-width: 1000px;
  padding: 12px;
  margin: 20px auto;
  background-color: #2a2c2c;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.equip__armor {
  margin-left: 10px;
  display: flex;
}

.equip__jewelry {
  display: flex;
}

.equip__weapon {
  display: flex;
}

.equip__item {
  cursor: pointer;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #414141;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgb(52 52 52) 0%, rgb(78 78 78) 100%);
  opacity: .8;

  &:first-of-type {
    margin-left: 0;
  }

  img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
  }

  &:hover {
    opacity: 1;
  }
}