.info {
  width: 140px;
}

.info__pts {
  margin: 40px 0 0 0;
  color: #ffff7d;
  font-size: 62px;
  line-height: 1;
  font-weight: 500;
}

.info__available {
  margin: 10px 0 0 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.info__params {
  margin: 20px 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info__param {
  margin: 5px 0 0 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;

  &_hp {
    color: #8d5a5a;
  }
  &_mp {
    color: #6b92b9;
  }
}